[submodule "openssl"]
	path = CryptoPkg/Library/OpensslLib/openssl
	url = https://github.com/openssl/openssl
[submodule "brotli"]
	path = MdeModulePkg/Library/BrotliCustomDecompressLib/brotli
	url = https://github.com/google/brotli
[submodule "oniguruma"]
	path = MdeModulePkg/Universal/RegularExpressionDxe/oniguruma
	url = https://github.com/kkos/oniguruma
